@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}
@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}
@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.box {
   
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ribbon-h {
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 41px;
    text-align: center;
    padding: 0 40px 0 0px;
    font-size: 18px;
    background: #0074cd;
    color: #fff;
    box-sizing: border-box;
    font-weight: 600;
    /* font-family: serif; */
    width: 200px;
    margin-left: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 1rem;
    margin-left: 19px;
  }
  .ribbon-h::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    z-index: 1;
    top: 0;
    right: 0;
    border-width: 20px 17px 20px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
  }
  .image_box {
    padding: .7rem;
    display: block;
    width: 68%;
  }

  .image_box img,.image_box .offer_box,.image_box p {
    display: inline-block;
    border-radius: 7px;
    vertical-align: middle;
  }
  .purchase_box {
    width: 42%;
    background-color: #0074cd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .offer_text {
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding-top: 14px;
}
  .offer_box h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    width: 300px;
    padding-left: 20px;
  }
  .offer_box p {
    width: 350px;
  }
  .offer_box p,.botom_p {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: .5rem;
    padding-left: 20px;
  }
  .content .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content .first span {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    padding-right: 20px;
    color: #fff;
  }
  hr {
    margin: 12px 0;
    /* height: 3px; */
    /* background: #000; */
    border: 1px solid #000;
  }
  .content button {
    width: 100%;
    height: 58px;
    margin-top: 1rem;
    background: #fff;
    border: 2px solid #0b79e7;
    border-radius: 8px;
    color: #0b79e7;
    font-size: 19px;
    font-weight: 600;
  }

  @media (max-width:1076px) {
    .box {
        display: block;
        width: 324px;
        margin-left: auto;
        margin-right: auto;
    }

    .purchase_box {
      width: 42%;
      background-color: #0074cd;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .image_box,.purchase_box {
      width: 100%;
    }
    .offer_box h2,.offer_box p {
      width: 100%;
    }
    .purchase_box {
      padding: 1rem;
    }
    .ribbon-h {
      margin-left: 19px;
      margin-top: 1rem;
    }
}
